:root {
  --primario: #b52cb7;
  --primarioOscuro: #7d2164;
  --secundario: #ffcc00;
  --secundarioOscuro: rgb(233,287,2);
  --blanco: #ffffff;
  --negro: #000;

  --fuentePrincipal:'Staatliches', cursive;
}

html {
  box-sizing: border-box;
  font-size: 62%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*globales*/

body {
  background-color: var(--primario);
  font-size: 1.6rem;
  line-height: 1.5;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blanco);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

h1,h2,h3 {
  text-align: center;
  color: var(--secundario);
  font-family: var(--fuente-principal);
}

h1 {
 font-size: 4rem;
}

h2 {
 font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

/*header*/

header {
  display: flex;
  justify-content: center;
}

/*footer*/

.footer {
  background-color: var(--primarioOscuro);
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer_texto {
  font-family: var(--fuente-principal);
  text-align: center;
  font-size: 2.2rem;

}

.header_logo {
  margin: 3rem 0;
}

/*navegacion*/

.navegacion {
  background-color: var(--primarioOscuro);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem; /*forma de separar nueva*/
}

.navegacion_enlace {
  font-family: var(--fuente-principal);
  color: var(--blanco);
  font-size: 3rem;
}

.navegacion_enlace--activo,
.navegacion_enlace:hover {
  color: var(--secundario);
}

/*grid*/
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*productos*/

.producto {
  background-color: var(--primarioOscuro);
  padding: 1rem;
}

.producto__img {
  width: 100%;

}

.producto__nombre {
  font-size: 4rem;
}

.producto__precio {
  font-size: 2.8;
  color: var(--secundario);
}

.producto__nombre,
.producto__precio {
  font-family: var(--fuente-principal);
  margin: 1rem 8;
  text-align: center;
  line-height: 1.2;
}
/*graficos*/

.grafico {

}

.grafico__camisas {
  grid-row: 2/3;
  grid-column: 1/3;

}

.grafico__node {
  grid-row: 5/6;
  grid-column: 2/4;

}

